<%= simple_form_for @education do |f| %>
  <%= f.input :school, label: "École / Université" %>
  <%= f.input :degree, label: "Diplôme / Spécialisation" %>
  <%= f.input :start_date, as: :date, label: "Date de début" %>
  <%= f.input :end_date, as: :date, label: "Date de fin (optionnel)" %>
  <%= f.input :description, as: :text, label: "Description" %>

  <div class="text-center mt-4">
    <%= f.button :submit, class: "btn btn-primary" %>
    <%= link_to "Annuler", resume_path, class: "btn btn-outline-secondary ms-2" %>
  </div>
<% end %>
